<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>問い合わせ完了</title>
        <link rel="stylesheet" href="{{ url_for('fn1.static', filename='style.css')}}"
        />
    </head>
    {% block content %}

    <body>
        <h2>問い合わせ完了</h2>
	<h3>問い合わせ一覧</h3>
	<table>
		<thead>
		    <th scope="col">名前</th>
		    <th scope="col">メール</th>
		    <th scope="col">問い合わ内容</th>
	    </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <th scope="row">{{question.name}}</th>
                <td>{{question.mail}}</td>
                <td>{{question.content}}</td>
            </tr>
            {% endfor %}
        </tbody>
	</table>
    </body>
    {% endblock %}
</html>
